.products-container {
  padding: 40px;
}

.menu-title {
  text-align: center;
  font-size: 40px;
  color: red;
  font-weight: 600;
  margin-bottom: 40px;
}

.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
  gap: 30px;
}

/* CARD */
.product-card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}

/* IMAGE */
.product-img {
  width: 200px;
  height: 200px;
  object-fit: contain;
  margin: auto;
  display: block;
}

/* TITLE */
.product-name {
  font-size: 20px;
  font-weight: 700;
  margin-top: 15px;
}

/* DESCRIPTION */
.product-desc {
  font-size: 14px;
  color: #555;
  margin: 10px auto;
  width: 90%;
  min-height: 60px; /* uniform cards */
}

/* Bottom Row (price + qty) */
.bottom-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}

/* PRICE */
.price {
  font-weight: bold;
  font-size: 18px;
}

/* QUANTITY BOX */
.qty-box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-box button {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  border: 1px solid #000;
  background: white;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
}

.qty-box button:hover {
  background: #000;
  color: white;
}

.qty-box span {
  font-size: 18px;
  font-weight: bold;
}
